/*crew list*/

.crew{
    margin: 20px;
  }
ul {
    padding: 0; 
    list-style-type: none; 
    font-family: "Orienta", sans-serif;
    color: #524A43;
  }
  
  li {
    margin-bottom: 10px; 
    
  }